<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Vueサンプル5</title>
    <script src="https://unpkg.com/vue@next"></script>
<style>
section+section { margin-top: 4rem; }
.text-green { color: #00dd00; }
.text-red { color: #dd0000; }
.text-blue { color: #0060dd; }
</style>
  </head>

  <body>
    <main>
      <h1>Vue サンプル5</h1>
      <section id="section5">
        <h2>条件分岐とループ (と v-model.number と v-on:submit.prevent)</h2>
        <form v-on:submit.prevent="saveAndResetValue">
          <div>
            <input
              type="number"
              placeholder="数を入力"
              v-model.number="input"
            />
          </div>
          </form>
        <ul>
        <li v-for="(value, i) in values">[{{ i }}] {{ value }}</li>
        </ul>
        <p v-if="values.length <= 0" class="text-red">
          数が1つもありません。数を入力してください。
        </p>
        <p v-else>
          総和は {{ valuesSum }} です。
        </p>
      </section>
    </main>

<script>
const app5 = Vue.createApp({
  data() {
    return {
      input: undefined,
      values: [],
    }
  },
  methods: {
    saveAndResetValue() {
      this.values.push(this.input);
      this.input = undefined;
    },
  },
  computed: {
    valuesSum() {
      return this.values.reduce((currentSum, elem) => currentSum + elem);
    },
  }
}).mount('#section5');
</script>

  </body>
</html>
