<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Vueサンプル4</title>
    <script src="https://unpkg.com/vue@next"></script>
<style>
section+section { margin-top: 4rem; }
.text-green { color: #00dd00; }
.text-red { color: #dd0000; }
.text-blue { color: #0060dd; }
</style>
  </head>

  <body>
    <main>
      <h1>Vue サンプル4</h1>
      <section id="section4">
        <h2>イベントハンドリング (v-modelとv-on)</h2>
        <p><code>v-model</code> を使ったバージョン</p>
        <form>
          <div>
            <input type="text" v-model="input" />
          </div>
          <div>reversed: '{{ reversedInput }}'</div>
        </form>
      </section>
    </main>

<script>
const App4 = {
  data() {
    return {
      input: "",
    }
  },
  computed: {
    reversedInput() {
      return this.input.split('').reverse().join('');
    },
  }
}
const app4 = Vue.createApp(App4).mount('#section4');
</script>

  </body>
</html>
