<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Vueサンプル1</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <main>
      <h1>Vue サンプル1</h1>

      <section id="section1">
        <h2>宣言的レンダリング (mustache構文)</h2>
        <p>
          Hello, {{ name }}!!<br/>
        </p>
        <p>
          {{ a }} / {{ b }} = {{ a / b }}
        </p>
      </section>
    </main>

<script>
const App1 = {
  data() {
    return {
      name: "YOUR NAME",
      a: 100,
      b: 40,
    }
  }
}
const app1 = Vue.createApp(App1).mount('#section1');
</script>

  </body>
</html>
