<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Vueサンプル3</title>
    <script src="https://unpkg.com/vue@next"></script>
<style>
section+section { margin-top: 4rem; }
.text-green { color: #00dd00; }
.text-red { color: #dd0000; }
.text-blue { color: #0060dd; }
</style>
  </head>

  <body>
    <main>
      <h1>Vue サンプル3</h1>
      <section id="section3">
        <h2>イベントハンドリング (v-on)</h2>
        <p><code>v-model</code> を使わずに <code>v-on:input</code> で頑張ったバージョン</p>
        <ul>
          <li>
            関数オブジェクトを指定した場合、その関数が呼び出される (引数にはイベントオブジェクトが設定される) <br/>
          </li>
          <li>
            式や文を直書きした場合、その文が実行される。特殊な変数として <code>$event</code> を利用できる。
          </li>
        </ul>
        <form>
          <div>
            saveInput(): <input type="text" v-on:input="saveInput" /><br/>
            htmlに直書き: <input type="text" v-on:input="this.input = $event.target.value" />
          </div>
          <div>reversed: '{{ strReverse(input) }}'</div>
        </form>
      </section>
    </main>

<script>
const app3 = Vue.createApp({
  data() {
    return {
      input: "",
    }
  },
  methods: {
    saveInput(event) {
      console.log(event);
      this.input = event.target.value;
    },
    strReverse(s) {
      return s.split('').reverse().join('');
    },
  }
}).mount('#section3');
</script>

  </body>
</html>
