<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Vueサンプル2</title>
    <script src="https://unpkg.com/vue@next"></script>
<style>
.text-green { color: #009900; }
.text-red { color: #dd0000; }
.text-blue { color: #0060dd; }
.bg-gray { background-color: #cccccc; }
.font-bold { font-weight: bold; }
</style>
  </head>

  <body>
    <main>
      <h1>Vue サンプル2</h1>

      <section id="section2">
        <h2>宣言的レンダリング (属性のバインド)</h2>
        <p>
          <span class="text-green">This is just `.text-green`</span><br/>

          message: <span v-bind:class="messageClass">{{ message }}</span><br/>

          <span v-bind:class="clazz">HogeFooBar</span>
        </p>
      </section>

    </main>

<script>
const App2 = {
  data() {
    return {
      message: "You loaded this page on " + new Date().toString(),
      messageClass: 'text-red',
      clazz: {
        'text-green': true,
        'bg-gray': true,
        'font-bold': true,
      }
    }
  }
}
const app2 = Vue.createApp(App2).mount('#section2');
</script>

  </body>
</html>
